build/
*.o
*.out
*.exe
*.obj
*.lib
*.pdb
*.ilk
*.idb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
*.log
*.tlog
Testing/
compile_commands.json
coverage.info
*.gcda
*.gcno
*.gcov
telemetry.log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.vscode/
